.contact .contact-bottom{
    margin: 30px 0px;
}

.contact-bottom .contact-titles{
    width: 75%;
}

.contact-bottom .contact-titles h4{
    color: #e51414;
    font-weight: 500;
}

.contact-bottom .contact-titles h2{
    font-weight: 600;
    font-size: 40px;
}

.contact-bottom .contact-titles p{
    font-size: 14px;
}

.contact-bottom .contact-elements{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-top: 50px;
}

.contact-bottom .contact-form{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-bottom .contact-form .contact-form-item{
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 10px);
    font-size: 14px;
    row-gap: 4px;
}

.contact-form .contact-form-item label span{
    color: #e51414;
}

.contact-bottom .contact-form .contact-form-item:nth-child(3),
.contact-bottom .contact-form .contact-form-item:nth-child(4){
   flex-basis: 100%;
}

.contact-bottom .contact-form .form-button{
    background-color: black;
    color:#fff;
}

.contact-elements .contact-info{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.contact-elements .contact-info-item{
    font-size: 14px;
}

.contact-info-item .contact-info-texts{
    display: flex;
    flex-direction: column;
}

.contact-info-texts .contact-street{
   margin: 10px 0px ;
}

.contact-info-texts .contact-date{
    margin-top: 10px;
}

/* Responsive */

@media (max-width:768px) {
    .contact-elements{
        flex-direction: column;
        gap: 50px !important;
    }

    .contact .contact-titles{
        width: 100%;
    }
}


@media (max-width:576px) {
    .contact-form{
        flex-direction: column;
    }
}